body {
    font-family: Arial, sans-serif;
    margin: 20px;
        
}
h1, h2 {
    text-align: center;
    color: #333;
}

.container {
    background-color: #51d14d;
    width: 80%;   
    margin: 20px auto;
    border: 1px solid #111010;
    position: relative;
}
.language {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    Text-align: Center;
}
.text {
    position: static;
    width: 80%;
    margin: 0 auto;
    text-align: center;
          
}
.image{
    display: block;
    max-width: 50%;
    margin-left: auto;
    height: auto;
    margin: 20px auto 20px auto;

}

.button {
    display: block;
    width: fit-content;
    margin: 20px auto;
}